<!DOCTYPE html>
<html>
<head>
  <title>Time tracking</title>
  <%= stylesheet_link_tag    "ecm/time_tracking/application", media: "all" %>
  <%= javascript_include_tag "ecm/time_tracking/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
